body{
    background-image: url(fishing-evening-digital-art-4k-lc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    height: 100vh;
    margin: 0px;
    place-items: center;
    width: 100vw;
}
.mainStuff{
    background-color: rgba(83, 83, 83, 0.445);
    border-radius: 5%;
    color: white;
    display: inline-block;
    font-size: 1.25vw;
    font-weight: bold;
    margin: 0px;
    padding: 2vw;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.searchBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    background-color: rgba(128, 128, 128, 0.26);
    border-color: #000000;
    border-radius: 5%;
    border-style: solid;
    color: white;
    font-size: 2.5vw;
}
input:focus{
    outline: 1;
    outline-color: rgb(148, 148, 148);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 249, 249, 0.493);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(148, 148, 148);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(148, 148, 148);
  }
button{
    background-color: rgb(37, 81, 201);
    border: white;
    border-radius: 5%;
    color: white;
    font-size: 150%;
    font-weight: bold;
    height: 3.25vw;
    padding: 0px 1vw;
    text-align: center;
}
h1{
    font-size: 3.5vw;
}
h2{
    margin: 1vh;
}
#locationContainer{
    font-size: 1.75vw;
}
#currentWeatherDiv{
    font-size: 1.75vw;
}
#currentWeatherDiv .dataGoesHere{
    font-size: 2.25vw;
}
.currentWeatherImageDiv{
    display: grid;
    place-items: center;
    margin: -5px;
}
.currentWeatherImage{
    border-radius: 5%;
    display: inline-block;
    width: 5vw;
    height: 5vw;
}
#tempStuff, #lessImportantStuff{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1300px) {
    .mainStuff{
        font-size: 2vw;
    }
    h1{
        font-size: 5vw;
    }
    #locationContainer{
        font-size: 2.25vw;
    }
    #currentWeatherDiv{
        font-size: 2vw;
    }
    #currentWeatherDiv .dataGoesHere{
        font-size: 3vw;
    }
    .currentWeatherImage{
        width: 15vw;
        height: 15vw;
    }
}

@media (max-width: 650px) {
    .mainStuff{
        font-size: 3vw;
    }
    h1{
        font-size: 8vw;
    }
    #locationContainer{
        font-size: 3.25vw;
    }
    #currentWeatherDiv{
        font-size: 3vw;
    }
    #currentWeatherDiv .dataGoesHere{
        font-size: 4vw;
    }
    .currentWeatherImage{
        width: 20vw;
        height: 20vw;
    }
    button{
        background-color: rgb(37, 81, 201);
        border: white;
        border-radius: 5%;
        color: white;
        font-size: 150%;
        font-weight: bold;
        height: 3.25vw;
        padding: 0px 1vw;
        text-align: center;
        height: 100%;
    }
}